<div class="profile-container">
  <div class="profile-header">
    <div>
      <h2>Hồ sơ của tôi</h2>
      <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
    </div>
    <div class="actions">
      <button *ngIf="!isEditMode" (click)="enableEditMode()" class="btn btn-secondary">Sửa</button>
    </div>
  </div>
  <hr>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fullName">Họ và tên</label>
        <input type="text" id="fullName" class="form-control" formControlName="fullname">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phoneNumber">Số điện thoại</label>
        <input type="text" id="phoneNumber" class="form-control" formControlName="phone_number">
      </div>
      <div class="form-group col-md-6">
        <label for="address">Địa chỉ</label>
        <input type="text" id="address" class="form-control" formControlName="address">
      </div>
    </div>
    <div class="form-actions" *ngIf="isEditMode">
      <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Lưu</button>
      <button type="button" (click)="cancelEdit()" class="btn btn-light">Hủy</button>
    </div>
  </form>
</div> 