<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
  <div class="container-fluid">
    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="navbarNavAltMarkup">
      <ul class="navbar-nav w-100 justify-content-center">
        @if(roleId == 1 || !roleId){
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#">Trang chủ</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/Intro']">Giới thiệu</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/news']">Tin tức</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/contact']">Liên hệ</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/allProduct']">Tất cả sản phẩm</a>
          </li>
        } @else if (roleId == 2) {
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#">Trang chủ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/admin/dashboard']">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/userManage']">Quản lý người dùng</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/orderManage']">Quản lý đơn hàng</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/uploadProduct']">Thêm sản phẩm</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/categoryManage']">Quản lý danh mục</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/voucherManage']">Quản lý voucher</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/allProduct']">Tất cả sản phẩm</a>
          </li>
        } @else {}
      </ul>
    </div>
  </div>
</nav>