// Color
$black-color: #000;
$white-color: #fff;
$nav-bar-color: #dcdcdc;
$nav-bar-color: #dcdcdc;
$footer-color: #171717;
$footer-text-color: #5a5a5a;
$hover-red-color: #790a0d;
// Height
$header-height: 80px;
$nav-bar-height: 56px;