<div class="history-order">
    <div class="container">
        <div class="row history-order-header">
            <div class="col-2 font-bold">Mã đơn hàng</div>
            <div class="col-3 font-bold">Đơn hàng</div>
            <div class="col-2 font-bold">Trạng thái</div>
            <div class="col-2 font-bold">Ngày đặt</div>
            <div class="col-2 font-bold">Tổng tiền</div>
            <div class="col-1 font-bold">Thao tác</div>
        </div>
        @for(order of historyOrder; track order){
            <div class="row">
                <div class="col-2 d-flex align-items-center">{{order.id}}</div>
                <div class="col-3 d-flex align-items-center history-order-main-info">
                    <img class="history-order-image" [src]="apiImage + order.thumbnail" alt="Giày">
                    <div>
                        <p class="font-bold">{{order.product_name}}</p>
                        @if(order.total_products > 1){
                            <p>Còn {{order.total_products - 1}} sản phẩm <a [routerLink]="['/order-detail/', order.id]">Xem thêm</a></p>
                        }
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <div [ngSwitch]="order.status">  
                        <p *ngSwitchCase="'pending'">Đang chờ</p>
                        <p *ngSwitchCase="'success'">Đã giao hàng</p>
                        <p *ngSwitchCase="'cancelled'">Đã hủy</p>
                        <p *ngSwitchCase="'processing'">Đang xử lý</p>
                        <p *ngSwitchCase="'delivered'">Đã được giao</p>
                        <p *ngSwitchCase="'shipped'">Đang được giao</p>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center">{{order.order_date | date: 'dd/MM/yyyy'}}</div>
                <div class="col-2 d-flex align-items-center">{{order.total_money | currency:'VND':'symbol':'1.0-0'}}</div>
                <div class="col-1 d-flex align-items-center flex-column">
                    <button (click)="viewOrderDetail(order.id)" class="history-order-view-detail mb-2">
                        Xem chi tiết
                    </button>
                    @if(canReturnOrder(order)) {
                        <button (click)="requestReturn(order.id)" class="history-order-return-btn">
                            Trả hàng
                        </button>
                    }
                </div>
            </div>
        }
    </div>
</div>
