<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-6 offset-lg-1 offset-md-1 offset-sm-1">
      @if(token == null){
      <div class="header-login-container">
        <a class="header-nav-login" [routerLink]="['/auth-login']">Đăng nhập</a>
        <span class="ml-2 mr-2" style="margin-left: 5px; margin-right: 5px; ">|</span>
        <a class="header-nav-login" [routerLink]="['/register']">Đăng kí</a>
      </div>
      }
      @else {
      <div class="header-avtar-container">
        <p-avatar (click)="menu.toggle($event)">
          <div class="header-avtar-icon">
            <span class="pi pi-user"></span>
          </div>
          <span class="userName">{{userName}}</span>

          <div class="header-avtar-name"></div>
        </p-avatar>
        <p-menu #menu [model]="itemsMenuAvatar" [popup]="true"></p-menu>
      </div>
      }
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-6 text-center">
      <div class="app-logo-header justify-content-center">
        <a href="#"><img src="../../../../assets/images/logo.jpg" alt="" class="img-fluid"></a>
        <!-- <a href="">My logo</a> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-5 col-12 header-right">
      <div class="header-search-container">
        <i (click)="op.toggle($event)" class="pi pi-search"></i>
        <p-overlayPanel #op>
          <span class="p-input-icon-right">
            <i (click)="sendContentSearch()" class="pi pi-search"></i>
            <input (keydown.enter)="sendContentSearch()" [(ngModel)]="searchValue" ngDefaultControl type="text" pInputText />
          </span>
        </p-overlayPanel>
        <div class="line-right"></div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-6 text-right header-cart-container-wrapper">
      <div class="header-cart-container" [routerLink]="['/shoppingCart']">
        <p class="header-cart-text">Giỏ hàng</p>
        <div class="header-cart-icon">
          <div class="header-cart-icon--bag">
            <p-badge [value]="quantityInCart.toString()"></p-badge>
          </div>
        </div>
      </div>
      <div class="previewCart">
        <p-toast></p-toast>
        <h5 class="previewCart__heading">Giỏ hàng</h5>
        <ul class="wrapper-product-list">
          @for (item of products;track item){
            <li [routerLink]="['/shoppingCart']" class="wrapper-product-item flex flex-wrap p-2 align-items-center gap-3">
              <p-button (click)="deleteProduct($event,item.id)" icon="pi pi-times" severity="danger" [outlined]="true"></p-button>
              <div class="wrapper__image">
                  <img [src]="apiImage + item.products.thumbnail" [alt]="item.products.name" class="w-4rem shadow-2 flex-shrink-0 border-round" />
                  <div class="wrapper-info">
                      <span>Size: {{ item.size }}</span>
                      <span class="font-bold text-900">{{ item.products.price | currency:'VND':'symbol':'1.0-0'}}</span>
                      <span>x{{ item.quantity }}</span>
                  </div>
                </div>
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ item.products.name }}</span>
                </div>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>