<section class="contact mt-5">
  <div class="contact-header mb-5 justify-content-center align-items-center">
    <div class="container-fluid contact-header-wrap">
      <h4 class="text-center text-light fw-700 text-uppercase">Liên hệ</h4>
      <h5 class="text-center text-light fw-500 text-uppercase">Trang chủ / Liên hệ</h5>
    </div>
  </div>

  <div class="contact-content my-5">
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-6 text-right d-none d-md-block footer-address-container">
          <h3 class="text-danger fw-bold">THÔNG TIN LIÊN HỆ</h3>
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <i class="pi pi-map-marker"></i>
              <p>Học viện công nghệ bưu chính viễn thông</p>
            </li>
            <li class="footer-address-item">
              <i class="pi pi-phone"></i>
              <p>0123456789</p>
            </li>
            <li class="footer-address-item">
              <i class="pi pi-google"></i>
              <p>sneakerstore&#64;gmail.com / </p>
              <p>sneakershoes&#64;gmail.com</p>
            </li>
          </ul>
          <ul class="footer-address-social">
            <li class="footer-address-social-item">
              <i class="pi pi-facebook"></i>
            </li>
            <li class="footer-address-social-item">
              <i class="pi pi-instagram"></i>
            </li>
            <li class="footer-address-social-item">
              <i class="pi pi-youtube"></i>
            </li>
            <li class="footer-address-social-item">
              <i class="pi pi-telegram"></i>
            </li>
            <li class="footer-address-social-item">
              <i class="pi pi-twitter"></i>
            </li>
          </ul>
        </div>

        <div class="col-md-6 col-lg-6 text-center text-md-start footer-letter">
          <div class="row footer-letter-info d-flex justify-content-center align-items-center">
            <div class="col-6">
              <input class="text-secondary" placeholder="Họ và tên">
            </div>
            <div class="col-6">
              <input class="text-secondary" placeholder="Số điện thoại">
            </div>
          </div>
          <div class="row footer-letter-info d-flex justify-content-center align-items-center">
            <div class="col-6">
              <input class="text-secondary" placeholder="Email">
            </div>
            <div class="col-6 my-3">
              <input class="text-secondary" placeholder="Địa chỉ">
            </div>
          </div>
          <div class="row footer-letter-info footer-letter-info-note d-flex justify-content-center align-items-center">
            <textarea name="note">Lời nhắn</textarea>
          </div>
          <div class="row footer-letter-button d-flex justify-content-center align-items-center mt-3">
            <button class="bg-danger text-light">Gửi</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>