<div class="container upload-product-admin">
    <p-toast></p-toast>
    <div class="row">
      <div class="col-8 col-lg-8 offset-lg-2">
        <form class="form-group" [formGroup]="productForm">
          <div class="wrapper">
            <label class="font-bold" for="productName">Tên sản phẩm</label>
            <input id="productName" type="text" pInputText formControlName="productName"/>
          </div>
          <div class="wrapper">
            <label class="font-bold" for="price">Giá</label>
            <p-inputNumber inputId="price" formControlName="price"></p-inputNumber>
          </div>
          <div class="wrapper">
            <label class="font-bold" for="discount">Giảm giá (%)</label>
            <p-inputNumber inputId="discount" formControlName="discount"></p-inputNumber>
          </div>
          <div class="wrapper dropdown-wrapper">
            <p-dropdown [options]="categoriesOptions" placeholder="Danh mục"
              (onChange)="onCategoryChange($event)"></p-dropdown> 
          </div>
          <div class="wrapper upload-wrapper">
            <label class="font-bold">Tải lên ảnh</label>
            <p-fileUpload mode="basic" [auto]="true" [multiple]="true" chooseLabel="Choose" name="myFile[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
          </div>
          <div class="wrapper">
            <ul>
              @for (item of myFiles; track item) {
                <li class="font-bold">{{item.name}} -- {{(item.size / 1024).toFixed(0)}}KB</li>
              }
            </ul>
          </div>
          <div class="wrapper">
            <label class="font-bold" for="description">Mô tả</label>
            <textarea id="description" rows="5" cols="100" pInputTextarea formControlName="description"></textarea>
          </div>
        </form>
        <div class="button-wrapper">
          <p-button (click)="uploadProduct()" class="upload-button" label="Thêm mới sản phẩm"></p-button>
        </div>
        
      </div>

    </div>
  </div>