<section class="news">
  <!-- header -->
  <div class="news-header text-center">
    <div class="container">
      <div class="row justify-content-center align-items-center" style="width: 100%;">
        <div class="col-lg-9 col-md-10">
          <h2 class="fw-bold">TIN TỨC</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class=" news-content d-flex justify-content-center">
    <div class="container" style="margin: 0; width: 100%">
      <div class="row justify-content-between align-items-start">
        <!-- left -->
        <div class="col-md-3 col-lg-3 d-sm-none d-md-block d-flex news-content-post">
          <!-- search bar -->
          <div class="input-group justify-content-start mt-4" style="width: 100%; margin-top: 30px !important;">
            <div class="form-outline" data-mdb-input-init style="width: 85%;">
              <input type="search" id="form1" class="form-control" placeholder="Search.." />
            </div>
            <button type="button" class="btn btn-danger" data-mdb-ripple-init>
              <i class="pi pi-search"></i>
            </button>
          </div>
          <!-- post recommendation -->
          <div class="my-4">
            <h4 class="text-dark text-start">BÀI VIẾT MỚI NHẤT</h4>
            <div class="news-content-post_table my-4">
              <div class="container">
                <div class="row g-5 align-items-center justify-content-center news-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post1.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; ; width: 60px; height:60px">
                  </div>

                  <div class="col-8">
                    <h2 class="lead card-title text-dark child-content-post-item">Cảm xúc từ những tia nắng cuối cùng
                      cho phép ý
                      tưởng lộ
                      nét...</h2>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center news-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post2.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8">
                    <h2 class="lead card-title text-dark child-content-post-item">Đặc biệt, tên gọi khác của loại vải
                      Corduroy
                      sợi to (3-8
                      sợi/inch)- ...</h2>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center news-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post3.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-dark child-content-post-item">Hẳn mọi người đã không mấy xa lạ với
                      chất liệu
                      Corduroy -
                      Nhung...</p>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center news-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post4.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-dark child-content-post-item">Hai yếu tố trên phối trộn cùng với
                      những gam màu
                      tươi tắn
                      để...</p>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center news-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post5.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-dark child-content-post-item">Chất liệu Corduroy lần đầu tiên được
                      ứng dụng trên
                      dáng
                      giày...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- right -->
        <div class="col-md-8 col-lg-8 news-content-shoes">
          <div class="row my-5 d-flex align-items-center justify-content-center g-5">
            <div class="col-6 col-lg-4">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/post2.jpg" alt="giaycv" class="img-fluid">
                  <span class="position-absolute top-10 start-0 translate-middle badge rounded-circle bg-danger"
                    style="width: 60px; height: 60px">
                    <div class="card-body__date">
                      <p style="font-size: 16px; line-height: 0px;">08</p>
                      <p style="font-size: 12px;">Th<span style="font-size: 16px;">3</span></p>
                    </div>
                  </span>
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <h2 class="lead card-title text-dark fw-bold">Nike - hãng giày ra đời từ bài luận
                    trong
                    trường đại học
                  </h2>
                  <p class="my-2 text-secondary">Nike - hãng giày ra đời từ bài luận trong
                    trường đại học Phil Knight nảy ra ý tưởng về Nike nhờ tham gia đội...</p>

                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/post4.jpg" alt="giayvan" class="img-fluid">
                  <span class="position-absolute top-10 start-0 translate-middle badge rounded-circle bg-danger"
                    style="width: 60px; height: 60px">
                    <div class="card-body__date">
                      <p style="font-size: 16px; line-height: 0px;">23</p>
                      <p style="font-size: 12px;">Th<span style="font-size: 16px;">5</span></p>
                    </div>
                  </span>
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <h2 class="lead card-title text-dark fw-bold">10 kiểu giày dép Hermes dễ phối đồ cho
                    nữ
                  </h2>
                  <p class="my-2 text-secondary">Loạt boots, cao gót, sandals hay sneakers… của Hermes được phái
                    nữ ưa chuộng, dễ phối đồ, còn chưa chuan đến 1,8 triệu đồng ...</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/post6.jpg" alt="giayvan" class="img-fluid">
                  <span class="position-absolute top-10 start-0 translate-middle badge rounded-circle bg-danger"
                    style="width: 60px; height: 60px">
                    <div class="card-body__date">
                      <p style="font-size: 16px; line-height: 0px;">12</p>
                      <p style="font-size: 12px;">Th<span style="font-size: 16px;">9</span></p>
                    </div>
                  </span>
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <h2 class="lead card-title text-dark fw-bold">giayBOM - Thương hiệu giày dành cho
                    người Việt
                  </h2>
                  <p class="my-2 text-secondary">giayBOM mang tới những với sản phẩm giày được thiết kế phù hợp với
                    người Việt, với mẫu mã đa dạng.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-5 align-items-center justify-content-center g-5">

            <div class="col-6 col-lg-4">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/post1.jpg" alt="giaycv" class="img-fluid">
                  <span class="position-absolute top-10 start-0 translate-middle badge rounded-circle bg-danger"
                    style="width: 60px; height: 60px">
                    <div class="card-body__date">
                      <p style="font-size: 16px; line-height: 0px;">21</p>
                      <p style="font-size: 12px;">Th<span style="font-size: 16px;">10</span>
                      </p>
                    </div>
                  </span>
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <h2 class="lead card-title text-dark fw-bold">5 nguyên liệu quen thuộc xử lý mùi hôi
                    giày
                  </h2>
                  <p class="my-2 text-secondary">Giày đi lâu ngày không chỉ có mùi hôi mà còn sinh ra vi khuẩn
                    gây hại. Tuy nhiên từ những nguyên liệu đơn giản, bạn có thể khắc phục được vấn đề này.</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/post5.jpg" alt="giayvan" class="img-fluid">
                  <span class="position-absolute top-10 start-0 translate-middle badge rounded-circle bg-danger"
                    style="width: 60px; height: 60px">
                    <div class="card-body__date">
                      <p style="font-size: 16px; line-height: 0px;">02</p>
                      <p style="font-size: 12px;">Th<span style="font-size: 16px;">11</span>
                      </p>
                    </div>
                  </span>
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <h2 class="lead card-title text-dark fw-bold">Giày Pierre Cardin cho nam giảm đến nửa
                    giá
                  </h2>
                  <p class="my-2 text-secondary">Nhiều mẫu giày tây, giày lười Pierre Cardin cho nam giảm giá
                    đến 50% trên Shop VnExpress, còn chưa đến 1,8 triệu đồng một đôi.</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/post3.jpg" alt="giayvan" class="img-fluid">
                  <span class="position-absolute top-10 start-0 translate-middle badge rounded-circle bg-danger"
                    style="width: 60px; height: 60px">
                    <div class="card-body__date">
                      <p style="font-size: 16px; line-height: 0px;">30</p>
                      <p style="font-size: 12px;">Th<span style="font-size: 16px;">12</span>
                      </p>
                    </div>
                  </span>
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <h2 class="lead card-title text-dark fw-bold">Dune London ra mắt giày, túi xách bản
                    giới hạn
                  </h2>
                  <p class="my-2 text-secondary">Chào Xuân Hè 2021, Dune London giới thiệu bộ sưu bộ sưu tập
                    giày và phụ kiện phiên bản giới hạn cho cả nam và nữ, còn chưa đến 1,8 triệu đồng một đôi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>