.register {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.register-form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px !important;

  .register-form-container-content {
    margin-top: 20px;
    width: 400px;
    height: 580px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .register-logo {
    width: 300px;
    height: 300px;
  }

  .register-title {
    color: white;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .form-group-container {
    width: 70%;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    input {
      padding: 16px 10px;
      margin-bottom: 16px;
    }
  }

  .register__button {
    // margin-top: 20px;

    .p-button {
      width: 100%;
      background-color: $black-color;
      color: $white-color;
      border: $black-color;
      box-shadow: none;
      border-radius: 5px;
    }

    .p-button:hover {
      background-color: $white-color;
      color: black;
      font-size: larger;
    }
  }

  .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .no-account-container {
    margin-top: 8px;

    span {
      color: white;

      a {
        color: aquamarine;
        text-decoration: none;
      }

      a:hover {
        color: rgb(175, 255, 228);
      }
    }
  }

  .remember-pass {
    margin-top: 16px;

    .remember-pass_checkbox {
      margin-right: 8px;
    }

    label {
      user-select: none;
      color: white;
    }
  }

  .register-form-container-back {
    margin-top: 20px;

    a {
      text-decoration: none;
      cursor: pointer;

      p {
        color: rgb(208, 255, 237);
        margin: 0 !important;
        width: 100px;
      }

      i {
        display: none;
        color: white;
        font-size: 21px;
        width: 100px;
        transform: translateX(40px);
        margin: 0 auto !important;
      }
    }

    a:hover {
      text-shadow: 2px 2px 15px #03d074;

      p {
        display: none;
      }

      i {
        display: block;
      }
    }
  }
}