<section class="introduction mt-5">
  <div class="intro-header mb-5 justify-content-center align-items-center">
    <div class="container-fluid intro-header-wrap">
      <h1 class="text-center text-light fw-700 text-uppercase">Giới thiệu</h1>
      <h3 class="text-center text-light fw-500 text-uppercase">Trang chủ / Giới thiệu</h3>
    </div>
  </div>

  <div class="intro-content my-5">
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 text-center d-none d-md-block">
          <img class="img-fluid" src="../../../../assets/images/anhGt.jpg" alt="ebook_cover">
        </div>

        <div class="col-md-6 col-lg-8 text-center text-md-start">
          <h1 class="mb-5">
            <div class="display-6 fw-semibold">GIỚI THIỆU</div>
            <p class="text-muted" style="font-size: 21px; margin: 10px 0px 30px 0px">Một điểm đặc biệt của Ananas
              Peeping Pattas
              cần phải kể đến
              là dòng chữ “cộp mác riêng” của bản collab Ananas x Sneaker Fest Vietnam được in 3D trên lưỡi gà mà bạn
              không thể tìm được ở bất cứ đâu khác. Nội dung in với kích thước vừa vặn cùng điểm nhấn màu vàng
              đủ tô điểm cho đôi giày thêm ấn tượng.</p>
          </h1>

          <div class="row">
            <h4>SẢN PHẨM TỐT NHẤT</h4>
            <div class="col-5" style="margin-top: 5px; font-size: 14px">
              <p>Danh mục những sản phẩm bán tại "giá tốt hơn" chỉ được bán kênh online - Online Only, chúng đã từng làm
                mưa làm gió một thời gian và hiện đang rơi vào tình trạng bể size, bể số.</p>
            </div>
            <div class="col-1 sep-border"></div>
            <div class="col-6" style="margin-top: 5px; font-size: 14px">
              <p>Bộ sản phẩm thuộc dòng Urbas, Corluray Pack đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu
                mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng
                lặp.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro-features my-4">
    <div class="container">
      <div class="row align-items-center justify-content-center g-2">
        <div class="col-5 col-lg-5 mx-4">
          <h3><span class="pi pi-car" style="font-size: 20px; margin-right: 10px;"></span>MIỄN PHÍ GIAO HÀNG</h3>
          <p>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn
            bản, đồ họa, hình ảnh, video, âm nhạc, mã nguồn,… trong phạm vi website bạn đang xem đều thuộc sở hữu tài
            sản của Ananas. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước
            quốc tế.</p>
        </div>
        <div class="col-5 col-lg-5 mx-4">
          <h3><span class="pi pi-info-circle" style="font-size: 20px; margin-right: 10px;"></span>BẢO MẬT THÔNG TIN</h3>
          <p>Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại
            website Ananas. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước
            quốc tế. Riêng trường hợp được yêu cầu, chúng tôi sẽ phải cung cấp thông
            tin này cho các cơ quan pháp luật.</p>
        </div>

        <div class="col-5 col-lg-5 mx-4">
          <h3><span class="pi pi-paypal" style="font-size: 20px; margin-right: 10px;"></span>PHƯƠNG THỨC THANH TOÁN</h3>

          <ul>
            <p style="margin: 0;">Tại cửa hàng:</p>
            <li style="list-style-type: square;">Thanh toán bằng tiền mặt</li>
            <li style="list-style-type: square;">Thanh toán bằng ví điện tử Momo</li>
            <li style="list-style-type: square;">Thanh toán bằng thẻ, mã QR từ ví điện tử và các ứng dụng ngân hàng qua
              dịch vụ POS</li>
          </ul>
        </div>
        <div class="col-5 col-lg-5 mx-4">
          <h3><span class="pi pi-percentage" style="font-size: 20px; margin-right: 10px;"></span>CHÍNH SÁCH KHUYẾN MÃI
          </h3>
          <p>Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, Ananas sẽ áp dụng một số chính sách khuyến
            mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt, được ghi rõ tại FAQs – mục
            “III. Chính sách Khuyến mãi”.</p>
        </div>

        <div class="col-5 col-lg-5 mx-4">
          <h3><span class="pi pi-wrench" style="font-size: 20px; margin-right: 10px;"></span>THAY ĐỔI CÁC GIAO DỊCH</h3>
          <p>Bạn được quyền thay đổi hoặc chấm dứt giao dịch theo hướng dẫn đã được ghi rõ tại phần FAQs – mục “I. Mua
            Hàng – Đặt Hàng – Tra Cứu Đơn Hàng”.Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt
            Nam và các công ước
            quốc tế.</p>
        </div>
        <div class="col-5 col-lg-5 mx-4">
          <h3><span class="pi pi-shield" style="font-size: 20px; margin-right: 10px;"></span>QUYỀN PHÁP LÝ</h3>
          <p>Bạn có toàn quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của bạn. Bất cứ lúc nào bạn cũng có
            quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị hoặc ngưng nhận thông
            tin quảng cáo, khuyến mãi từ Ananas thông qua Email.</p>
        </div>
      </div>
    </div>
  </div>
</section>