<div class="container-fluid footer-container">
  <div class="row">
    <div class="col-lg-2 offset-lg-1 footer-column">
      <h2>Giới thiệu</h2>
      <p>
        Chào mừng bạn đến với ngôi nhà Sneaker! Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình ảnh đều là những bằng
        chứng mang dấu ấn lịch sử, và đang không ngừng phát triển lớn mạnh.
      </p>
    </div>
    <div class="col-lg-6 footer-column">
      <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-6 footer-address-container">
          <h2>Địa chỉ</h2>
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <i class="pi pi-map-marker"></i>
              <p>Học viện công nghệ bưu chính viễn thông</p>
            </li>
            <li class="footer-address-item">
              <i class="pi pi-phone"></i>
              <p>0123456789</p>
            </li>
            <li class="footer-address-item">
              <i class="pi pi-google"></i>
              <p>sneakerstore&#64;gmail.com</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-4 footer-menu-container">
          <h2>Menu</h2>
          <div class="row">
            <div class="col-lg-6">
              <a href="">Trang chủ</a>
            </div>
            <div class="col-lg-6">
              <a href="">Giới thiệu</a>
            </div>
          </div>
          <div class="row footer-menu-row">
            <div class="col-lg-6">
              <a href="">Tin tức</a>
            </div>
            <div class="col-lg-6">
              <a href="">Liên hệ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 footer-column">
      <h2>Mạng xã hội</h2>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <i class="pi pi-facebook footer-facebook__icon"></i>
        </li>
        <li class="footer-social-item">
          <i class="pi pi-instagram"></i>
        </li>
        <li class="footer-social-item">
          <i class="pi pi-twitter footer-twitter__icon"></i>
        </li>
      </ul>
    </div>
  </div>
</div>